<!DOCTYPE html>
<html>
<head>
  <title>Karl Patrick</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "erp/application", media: "all" %>
  <%= javascript_include_tag "erp/application" %>
</head>
<body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <% if user_signed_in? %>
    <li>
      <%= link_to('Logout', erp.destroy_user_session_path, method: :delete) %>        
    </li>
  <% else %>
    <li>
      <%= link_to('Login', erp.new_user_session_path) %>  
    </li>
  <% end %>
  
  <%= yield %>

</body>
</html>
