<!DOCTYPE html>
<html>
<head>
  <title>Karl Patrick</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "erp/application", media: "all" %>
  <%= javascript_include_tag "erp/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
